<!DOCTYPE html>
<html lang="ko" ng-app="app">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title> 

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link rel="stylesheet" href="css/table.css">
        <link href="css/style.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="js/jquery-2.2.1.min.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>


        <script src="lib/ionic/js/angular/angular-resource.js"></script>
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>      
        <script src="directive/clickListOpt.js"></script>
        <script src="directive/directChart-directive.js"></script> 
        <script src="directive/buybackChart-directive.js"></script>
      
<!--      Chart : nvd3-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">        
  </head>
  <body>
    <div ng-controller="MainCtrl">
        <ion-header-bar class="bar-stable bar-positive bar-header" align-title="center">
            <div class="buttons" ng-hide="backBtnHide">
                <a class="button icon-left ion-chevron-left button-clear button-white" ng-href="#{{backLocation}}"></a>                                        
            </div>
                
            <h1 class="title" ng-bind="headTitle"></h1>
                
            <a class="button icon-right ion-power button-clear button-white" ng-click="exitApp()" ng-hide="exitFlag"></a>
        </ion-header-bar>

        <ion-header-bar class="bar bar-stable bar-subheader {{hideCategorySub ? &apos;hide&apos; : &apos;&apos;}}">
            <input type="month" id="selMonth" ng-change="changeDate()" ng-model="selectDate" placeholder="yyyy-MM" min="2016-01" max="{{maxDate}}" required>            
            <select name="selCategory" id="selCategory"                     
                    ng-model="data.selectedOption" ng-change="categoryChange()" ng-hide="suppliersFlag"
                    ng-options="option.name for option in data.availableOptions track by option.id" >
            </select>
        <!--사업장(default)    -->
            <span class="barLabel" ng-hide="directLabel">
                <i class="fa fa-square" aria-hidden="true" id="i_ppm"></i>&nbsp;목표달성&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-square" aria-hidden="true" id="i_exceed_ppm"></i>&nbsp;목표미달&nbsp;&nbsp;&nbsp;
                <i class="fa fa-ellipsis-h" aria-hidden="true" id="i_ppmGoal"></i>&nbsp;목표
            </span>
        <!-- 생산비별 & 공급업체      -->
            <span class="barLabel b" ng-hide="buyBackLabel">
                <i class="fa fa-square" aria-hidden="true" id="i_bad"></i>&nbsp;불량&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-square" aria-hidden="true" id="i_imp"></i>&nbsp;개선완료
            </span>                       
            

        </ion-header-bar> <!-- head / subhead -->        
        
        <ion-nav-view></ion-nav-view>
    </div>
      
    <script src="controller/MainController.js"></script>
    <script src="controller/DirectListController.js"></script>
    <script src="controller/YearTrendsController.js"></script>
    <script src="controller/BuyBackController.js"></script>
    <script src="controller/ShowSuppliersController.js"></script>
</body>
</html>
